{% extends "base.html" %}
{% load staticfiles %}
{% block title %}register user{% endblock %}
{% block content %}
    <div class="row text-center vertical-middle-sm">
        <h1>注册</h1>
        <p>已有用户<strong><a href="{% url 'account:user_login' %}">登录</a></strong></p>
        <p>或注册</p>
        <form class="form-horizontal" action="." method="post">{% csrf_token %}
            <div class="form-group">
                <label for="{{ form.username.id_for_label }}" class="col-md-5 control-label">用户名</label>    {# id_for_lable即用户的ID和本label关联 #}
                <div class="col-md-6 text-left">{{ form.username }}</div>                                  {# 调用表单类username输入框 #}
            </div>
            <div class="form-group">
                <label for="{{ form.email.id_for_label }}" class="col-md-5 control-label">邮箱</label>
                <div class="col-md-6 text-left">{{ form.email }}</div>
            </div>
            <div class="form-group">
                <label for="{{ form.password.id_for_label }}" class="col-md-5 control-label">密码</label>
                <div class="col-md-6 text-left">{{ form.password }}</div>
            </div>
            <div class="form-group">
                <label for="{{ form.password2.id_for_label }}" class="col-md-5 control-label">确认密码</label>
                <div class="col-md-6 text-left">{{ form.password2 }}</div>
            </div>
            <div class="form-group">
                <label for="{{ profile.birth.id_for_label }}" class="col-md-5 control-label">生日</label>
                <div class="col-md-6 text-left">{{ profile.birth }}</div>   {# profile这个名是views.py里定义的，我们这里调用 #}
            </div>
            <div class="form-group">
                <label for="{{ profile.phone.id_for_label }}" class="col-md-5 control-label">电话</label>
                <div class="col-md-6 text-left">{{ profile.phone }}</div>
            </div>
            <input type="submit" class="btn btn-primary btn-lg" value="REGISTER">        {# 提交按钮，整个form总入口，汇总 #}
        </form>

    </div>
{% endblock %}